---
useCases:
  demo-site-reliability-guardians-gitlab:
    previews:
    - section: demo-site-reliability-guardians-gitlab
      description: Staging
      url: "{{ ingress_protocol }}://simplenodeservice-simplenode-gitlab-staging.{{ ingress_domain }}"
    - section: demo-site-reliability-guardians-gitlab
      description: Production
      url: "{{ ingress_protocol }}://simplenodeservice-simplenode-gitlab-production.{{ ingress_domain }}"
    guides:
    - description: "Site Reliability Guardians, Monitoring as a Service and Monitoring as Code - Demo using GitLab and Site Reliability Guardians"
      url: "{{ ingress_protocol }}://gitlab.{{ ingress_domain }}/{{ gitlab_demo_default_group }}/{{ gitlab_demo_default_repo_name }}/-/blob/main/README.md"
